# Dependencies (Never push these!)
node_modules/

# Eleventy Build Output
_site/

# Local Environment Variables & Secrets
.env
.env.local

# OS / Editor junk files
.DS_Store
Thumbs.db
.vscode/
.idea/

# NPM Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*