<section class="hero" {% if block.bg_image %}
    style="background-image: url('{{ block.bg_image | url }}'); background-size: cover; background-position: center;"
  {% endif %}>
    <div class="hero-text">
        {% if block.heading %}
            <h2>{{ block.heading }}</h2>
        {% endif %}
        <p>{{ block.content | markdown | safe }}</p>
        <div class="hero-buttons">
            {% for link in block.links %}
                <a href="{{ link.url }}" class="button {{ link.button_color | default('primary', true) }}" target="{{ link.target }}">{{ link.text }}</a> 
            {% endfor %}
        </div>
    </div>
</section>