<section class="hero">
    <div class="hero-text">
        {% if block.heading %}
            <h2>{{ block.heading }}</h2>
        {% endif %}
        <p>{{ block.content | markdown | safe }}</p>
        <div class="hero-buttons">
            {% for link in block.links %}
                <a href="{{ link.url }}" class="button {{ link.button_color | default('primary', true) }}" target="{{ link.target }}">{{ link.text }}</a> 
            {% endfor %}
        </div>
    </div>
</section>