.image-card-grid .image-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 1rem;
  padding: 1rem;
}
.image-card-grid h2 {
  text-align: center;
}
@media screen and (min-width: 700px) {
  .image-card-grid .image-card-container {
    flex-direction: row;
    justify-content: center;
  }
}
.card {
  position: relative;
  border: 1px solid black;
  border-radius: 25px;
  overflow: hidden;
  color: #fff;
  max-width: 400px;
}
.card a {
  color: #fff;
}
.card h3 {
  transform: translateY(-50%);
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
  font-size: 4rem;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  line-height: 0.7;
  margin-right: 0;
}
.card p,
.card ul {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem;
  max-width: 75%;
}
.card ul {
  margin: 1rem;
}
.card:first-of-type {
  background-color: #404343;
}
.card-cta {
  position: absolute;
  bottom: 0;
  margin: 1rem;
}
.card:nth-child(2) {
  background-color: #553522;
}
.card:nth-child(3) {
  background-color: #4c7e57;
}
