/* Base Rich Text Section Styling */
.rich-text {
  padding: 3rem 1.5rem;
}
.rich-text h2 {
  margin-top: 0;
}
.rich-text h3 {
  font-size: 150%;
}
/* Background Color Variants */
.rich-text.bg-white {
  background-color: #ffffff;
  color: #1a1a1a;
}

.rich-text.bg-light-gray {
  background-color: #f4f4f5;
  color: #1a1a1a;
}

.rich-text.bg-green {
  background-color: var(--primary-dark);
  color: var(--secondary);
}

.rich-text.bg-amber {
  background-color: var(--tertiary);
  color: black;
}

.rich-text.text-center {
  text-align: center;
}
.rich-text.text-left {
  text-align: left;
}
.rich-text.text-right {
  text-align: right;
}
